//
   Created with JetBrains WebStorm.
   User: BornyTM
   Date: 7/8/13
   Time: 4:04 PM
   To change this template use File | Settings | File Templates.

//h1 Adding New Content Form
//div(ng-controller="LoadBtn")
 //   p Placeholder Text.


p This is the partial for add.
    | Showing of 'interpolate' filter:
    | {{ 'Current version is v%VERSION%.' | interpolate }}
h1 adfkja;dlkfadlfkja;djl