//
   Created with JetBrains WebStorm.
   User: BornyTM
   Date: 7/8/13
   Time: 12:57 PM
   To change this template use File | Settings | File Templates.

h1 Test to load terms into buttons
div(ng-controller="LoadBtn")
    p Here (hopefully) is some data!
        button.btn test!
        button.btn(ng-repeat="term in terms") {{term.name}}
    | Bam!