//
   Created with JetBrains WebStorm.
   User: BornyTM
   Date: 7/3/13
   Time: 3:49 PM
   To change this template use File | Settings | File Templates.


h1 Neo4j to Angular Data Transfer Test
div(ng-controller="testCtrl")
    p Here (hopefully) is some data!
    |{{data}}
    br
    | Bam!