h3 Explore Content

div(ng-controller="termCtrl")
    div
        button.btn(ng-click="reloadTypes()") Reload Terms
        br
        br
        div.btn-group(ng-repeat="term in types")
            button.btn(ng-click="includeExclude(3, term)")(ng-dblclick='includeExclude(2, term)') {{term}}
            button.btn.dropdown-toggle.dropdown
                span.caret
            ul.dropdown-menu
                li
                    a(ng-click="includeExclude(1, term)") Exclude Term
                li
                    a(ng-click="includeExclude(3, term)") Include Term
                li
                    a(ng-click="includeExclude(2, term)") Include and Load

    br
    br
    div
        button.btn(ng-click="reloadTerms()") Reload Terms
        br
        br
        div.btn-group(ng-repeat="term in terms")
            button.btn(ng-click="includeExclude(3, term)")(ng-dblclick='includeExclude(2, term)') {{term}}
            button.btn.dropdown-toggle.dropdown
                span.caret
            ul.dropdown-menu
                li
                    a(ng-click="includeExclude(1, term)") Exclude Term
                li
                    a(ng-click="includeExclude(3, term)") Include Term
                li
                    a(ng-click="includeExclude(2, term)") Include and Load





//div(ng-controller="content")
//    div(ng-repeat="pieces in content")
//        ul.thumbnails
//            li.span4
//                a.thumbnail(href="#")
//                    img(ng-src="{{content.source}}")
//            p Hello!






////for dynamically loaded terms based on content, it makes sense to excluded and load, otherwise it does not
//div(ng-controller="termCtrl")
//    div.btn-group(ng-repeat=" term in display")
//        button.btn(ng-click="includeExclude(3, term)")(ng-dblclick='includeExclude(2, term)') {{term}}
//        button.btn.dropdown-toggle.dropdown
//            span.caret
//        ul.dropdown-menu
//            li
//                a(ng-click="includeExclude(1, term)") Exclude Term
//            li
//                a(ng-click="includeExclude(0, term)") Exclude and Load
//            li
//                a(ng-click="includeExclude(3, term)") Include Term
//            li
//                a(ng-click="includeExclude(2, term)") Include and Load
