extends layout

block body
  div
    h2 Universal Literacy Library
    ul.menu
      li
        a(href='type') Type Test
      li
        a(href='addContent') Add New Content

    div(ng-view)




  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/ui-bootstrap-tpls-0.6.0.min.js')
  script(src='ckeditor/ckeditor.js')

